@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Ubuntu";
  src: url("@/assets/fonts/Ubuntu-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Ubuntu";
  src: url("@/assets/fonts/Ubuntu-Medium.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Ubuntu";
  src: url("@/assets/fonts/Ubuntu-Regular.ttf");
  font-weight: 400;
}

body {
  font-family: "Ubuntu";
  @apply bg-white-1;
}

/* ### Primary

Marine blue{color: #02295a}
2Purplish blue {color: #473dff;}
3Pastel blue {color: #adbeff;}
4Light blue {color: #bfe2fd;} 
Strawberry red {color: #ed3548;}

### Neutral

Cool gray {color: #9699ab;}
Light gray {color: #d6d9e6}
Magnolia {color: #f0f6ff;}
Alabaster {color: #fafbff;}
*/
